* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
input {
  display: none;
}
.containt {
  width: 100px;
  text-align: center;
  display: inline;
}
h1 {
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 40px 0;
}
h1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: cyan;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 300px;
  }
}
.content {
  background-color: darkgrey;
  width: 90%;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightgray;
}
h3 {
  height: 100%;
  background-color: lightgray;
  line-height: 60px;
  padding: 0 50px;
  color: white;
}
label {
  display: inline-block;
  height: 100%;
  margin: 0 20px;
  line-height: 60px;
  color: gray;
  transition: 0.5s;
}
label:hover {
  color: black;
}
.galery {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.pic {
  position: relative;
  height: 230px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px lightgray;
  cursor: pointer;
}
.pic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.5s;
}
.pic::before {
  content: "Photo car";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: -100px;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.2s;
  z-index: 1;
}
.pic::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  height: 0;
  transition: 0.3s;
}
.pic:hover::after {
  height: 100%;
}
.pic:hover::before {
  margin-top: 0;
  opacity: 1;
}
#check1:checked ~ .containt .galery .pic {
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: 0s;
}
#check2:checked ~ .containt .galery .hancar {
  transform: scale(1);
  opacity: 1;
  position: relative;
}
#check3:checked ~ .containt .galery .twocar {
  transform: scale(1);
  opacity: 0;
  position: relative;
}
#check4:checked ~ .containt .galery .tricar {
  transform: scale(0);
  opacity: 0;
  position: absolute;
}
.pop {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
#back {
  text-align: center;
  display: inline;
}
